
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body ng-app="chat">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div ng-controller="ChatCtrl">
        	<div ng-repeat="comment in comments">
        		<span><b>{{comment.from}}: </b><br/> {{comment.body}}</span><br>
        	</div>

        	<textarea ng-model="newComment" ng-keydown="addComment($event)"></textarea>  
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
		<script src="https://cdn.firebase.com/v0/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
		<script type="text/javascript">
		  angular.module('chat', ['firebase'])
		  .controller('ChatCtrl', function ($scope, $firebase) {
		  	var ref = new Firebase('https://burning-heat-294.firebaseio.com/');
		  	 $scope.comments = $firebase(ref);
		  	 $scope.addComment = function(e) {
		  	 	$scope.username = 'Guest ' + Math.floor(Math.random() * 101);

		  	 	if (e.keyCode !== 13) return;
		  	 	$scope.comments.$add({
		  	 		from: $scope.username,
		  	 		body: $scope.newComment
		  	 	});

		  	 	$scope.newComment = "";
		  	 };
		  });
		</script>
    </body>
</html>